node_modules/
dist/
.env
.env.*
!.env.example
.DS_Store
*.log
.vscode/
.idea/
*.local
.log*
.cache/
.VirtualBox/
docker/
gitconfig
node_repl_history
3D Objects/
AppData/
Contacts/
Desktop/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
NTUSER.DAT*
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
_netrc
curseforge/
my_project/
ntuser.*